#gameboard > span {
  height : 200px;
  width : 200px;
  content : &nbsp;
  margin : 2px;
  display: inline-block;
}

.red {
  background-color : red;
}
.blue {
  background-color : blue;
}

.matched {
  background-color : grey;
  content : 'Matched';
}
.hide {
  background-color : black;
}
